<div class="comment clearfix">
	<div>
		<p class="comment_name"><strong><%= comment.name %></strong></p>
		<p class="comment_body"><%= comment.body %></p>
		<p class="comment_time action"><%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>
	<p>
		<!-- Check this function in application_helper.rb -->
		<%= delete_action %>
	</p>
</div>