<div id="sidebar">
	<div id="logo">
		<%= image_tag "logo.png", class: "logo" %>
	</div>
	<ul>
		<li class="category">Website</li>
		<li><%= link_to "Blog", root_path %></li>
		<li><%= link_to "About", about_path %></li>
	</ul>
	<ul>
		<li class="category">Social</li>
		<li><a href="https://twitter.com/A_darmawann">Twitter</a></li>
		<li><a href="https://www.facebook.com/">Facebook</a></li>
		<li><a href="https://github.com/asepasdar">Github</a></li>
		<li><a href="mailto:a.darmawan93@gmail.com">Email</a></li>
	</ul>	
</div>